/*The type of character */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/*Distance of padding box and background color*/
.header {
  background-color: #f2f2f2;
  padding: 10px;
}
/* where the score and time is*/
.score-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* what the high score button looks like green box and white text font size and what cursor look like when hover over*/
.score-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
/* on the style of the whole sect5ion of the start quiz*/
.start-quiz {
  text-align: center;
  margin-top: 50px;
}
/* size of of the text and margin distice from the bottom*/
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
/* size of the text and margin from the bottom*/
p {
  font-size: 16px;
  margin-bottom: 20px;
}
/* style of the start quiz button blue box and white text font size and what cursor look like when hover over*/
#start-quiz-btn {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
/* so question section dont show on main page yet*/
.question-section {
    display: none
}
/*so highscore section dont show on main page yet*/
.scoreboard-section {
    display: none;
}
/* Add styling for the incorrect message */
.incorrect-msg {
    color: red;
    display: none;
}
  
/* style of footer*/
footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}
